VITE_SUPABASE_URL=https://jdbpenovuiqzjxwmrhkd.supabase.co/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpkYnBlbm92dWlxemp4d21yaGtkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkwNjE1MjcsImV4cCI6MjA5NDYzNzUyN30.y8MbCzScNAvfHPEYesDqDrRjc2j_j4heTm5-gkmj4SY